@model List<dictionary.Models.DictionaryModels>

@{
    ViewBag.Title = "ViewDictList";
}



<div class="container">
    <table class="table table-stripped table-hover table-bordered ">
        <thead>
        <tr>
            <th>ID</th>
            <th>ENG</th>
            <th>POL</th>
            <th>Część mowy</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td >@item.ID</td>
                <td>@item.EngItem</td>
                <td>@item.PolItem</td>
                <td>@item.PartOfSpeach</td>
            </tr>
        }
        </tbody>
    </table>
</div>

