body {
    padding-top: 50px;
    padding-bottom: 20px;
}
@font-face {
    font-family: 'SilveryTarjey';
    src: url('../fonts/SilveryTarjey.ttf') format('truetype');
    src: url('../fonts/SilveryTarjey.ttf') format('opentype');
}
@font-face {
    font-family: 'GOODTIME';
    src: url('../fonts/GOODTIME.ttf') format('truetype');
}
@font-face {
    font-family: 'avocado_';
    src: url('../fonts/avocado_.ttf') format('truetype');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-moje {
    color: #DBDBDB;
    font-family: "Arvo",serif ;
    font-size: 20px;
    background-color: #2B2B2B;

}
a{
    color: #F3F3f3 !important;
}
body{
background-color: #171717;
color: #bababa;
}

.form-control{
	background-color: #424242;
	color: #ffffff;
	font-family:"Courier new"  ;
}
.form-control:focus{
	background-color: #737070;
	color: #ffffff;
	border-color: #fcfcfc;
}
.krokodyl {
    color: #444f3a;
}
.notka{
  height: 80px;
  background-color: #444f3a !important;
}
.table-hover > tbody > tr.active:hover > th {
    background-color: #626262 !important;
}
