body {
    padding-top: 50px;
    padding-bottom: 20px;
}
@font-face {
    font-family: 'SilveryTarjey';
    src: url('../fonts/SilveryTarjey.ttf') format('truetype');
    src: url('../fonts/SilveryTarjey.ttf') format('opentype');
}
@font-face {
    font-family: 'GOODTIME';
    src: url('../fonts/GOODTIME.ttf') format('truetype');
}
@font-face {
    font-family: 'avocado_';
    src: url('../fonts/avocado_.ttf') format('truetype');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-moje {
    color: #DBDBDB;
    font-family: "Arvo",serif ;
    font-size: 20px;
    background-color: #2B2B2B;

}
a{
    color: #F3F3f3 !important;
}
body{
background-color: #171717;
color: #bababa;
}

.form-control{
	background-color: #424242;
	color: #ffffff;
	font-family:"Courier new"  ;
}
.form-control:focus{
	background-color: #737070;
	color: #ffffff;
	border-color: #fcfcfc;
}
.krokodyl {
    color: #444f3a;
}
.notka{
  height: 80px;
  background-color: #444f3a !important;
}
.table-hover > tbody > tr.active:hover > th {
    background-color: #626262 !important;
}
/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=c1V4J3u0F0k2S7Te73P7q2J3gft2Hj- */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #3E3E39 }	/* Main Primary color */
.color-primary-1 { color: #1E1E11 }
.color-primary-2 { color: #151611 }
.color-primary-3 { color: #7A7B6E }
.color-primary-4 { color: #9B9B8E }

.color-secondary-1-0 { color: #252728 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #0B1013 }
.color-secondary-1-2 { color: #0B0D0E }
.color-secondary-1-3 { color: #474C4E }
.color-secondary-1-4 { color: #5B6063 }

.color-secondary-2-0 { color: #3F3C39 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #1E1811 }
.color-secondary-2-2 { color: #161311 }
.color-secondary-2-3 { color: #7B766F }
.color-secondary-2-4 { color: #9C968F }

.color-complement-0 { color: #29262A }	/* Main Complement color */
.color-complement-1 { color: #120C14 }
.color-complement-2 { color: #0D0B0E }
.color-complement-3 { color: #4F4A52 }
.color-complement-4 { color: #656068 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba( 62, 62, 57,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba( 30, 30, 17,1) }
.rgba-primary-2 { color: rgba( 21, 22, 17,1) }
.rgba-primary-3 { color: rgba(122,123,110,1) }
.rgba-primary-4 { color: rgba(155,155,142,1) }

.rgba-secondary-1-0 { color: rgba( 37, 39, 40,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba( 11, 16, 19,1) }
.rgba-secondary-1-2 { color: rgba( 11, 13, 14,1) }
.rgba-secondary-1-3 { color: rgba( 71, 76, 78,1) }
.rgba-secondary-1-4 { color: rgba( 91, 96, 99,1) }

.rgba-secondary-2-0 { color: rgba( 63, 60, 57,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba( 30, 24, 17,1) }
.rgba-secondary-2-2 { color: rgba( 22, 19, 17,1) }
.rgba-secondary-2-3 { color: rgba(123,118,111,1) }
.rgba-secondary-2-4 { color: rgba(156,150,143,1) }

.rgba-complement-0 { color: rgba( 41, 38, 42,1) }	/* Main Complement color */
.rgba-complement-1 { color: rgba( 18, 12, 20,1) }
.rgba-complement-2 { color: rgba( 13, 11, 14,1) }
.rgba-complement-3 { color: rgba( 79, 74, 82,1) }
.rgba-complement-4 { color: rgba(101, 96,104,1) }



/* Generated by Paletton.com © 2002-2014 */