@model dictionary.Models.FileTbModel


    @using (Html.BeginForm("GetFile","Home",FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        @*@Html.LabelFor(m => m.FileName)*@
                        <label class="label" for="plik"> Wybierz plik</label>
                    </div>
                    <div class="col-md-1">
                        @*@Html.TextBoxFor(m => m.FileName, new { @type = "file" })*@
                        <input class="input-md" type="file" name="plikLoad"/>
                    </div>

                </div>
                        <button class="btn btn-default" type="submit" value="upload">Zapisz</button>
                </div>
            </div>

    }

