@model dictionary.Models.FileTbModel


    @using (Html.BeginForm("GetFile","Home",FormMethod.Post ))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.FileName)
                        @Html.TextBoxFor(m => m.FileName, new {@type = "file"})
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn-default" type="submit"></button>
                    </div>
                </div>
            </div>
        </div>
    }

