
@{
    ViewBag.Title = "NewTerm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class="container">
<div class="form-group " >
<div class="row"></div>
<div class="col-md-6">
<label for="EngItem">Termin Angielski</label>
<input type="text" class="form-control" id="EngItem" />
<label for="EngDesc">Definicja Angielska</label>
<input type="text" class="form-control notka" id="EngDesc" />
</div>
<div class="col-md-6">
<label for="PolItem">Termin Polski</label>
<input type="text" class="form-control" id="PolItem" />
<label for="PolDesc">Definicja Polska</label>
<input type="text" class="form-control notka" id="PolDesc" />
</div>
<div class="col-md-3" align="left">
<label for="Abbr">Skrót</label>
<input type="text" class="form-control" maxlength="5" id="Abbr" />
<label for="PartOfSpeech">Część mowy</label>
<input type="text" class="form-control"  id="PartOfSpeech" />
<label for="Branch">Dziedzina</label>
<input type="text" class="form-control"  id="Branch" />
</div>
<p></p>
<div class="col-md-4 col-md-offset-11" align="left">
<label for="Synonim">Synonim</label>
<input type="text" class="form-control"  id="Synonim" />
<label for="Antonim">Antonim</label>
<input type="text" class="form-control"  id="Antonim" />
<label for="TermSup">Termin Nadrzędny</label>
<input type="text" class="form-control"  id="TermSup" />
<label for="TermInf">Termin Podrzędny</label>
<input type="text" class="form-control"  id="TermInf" />
</div>
</div>
</div>


